.bg-change-color-profile {
    background-image: url("../../../assets/background-for-school.jpg");   
}
.cell-mobile {
    display: none;
}


.course-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Lineas a mostrar */
    overflow: hidden;
    


}

@media (max-width: 770px) {
    .cell-mobile {
        display: block;
    }
}
