.card {
    padding: 15px;
    max-width: 730px;
    max-height: 330px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    background-color: #fff;
}

div {
    display: block;
}
.round-photo img {
    max-width: 60px;
    max-height: 75px;
    border-radius: 10px;
}

/* COURSE  */

.name-raiting {
    display: flex;
    justify-content: space-between;
}

.fa-star {
    color: #f6bb42;
}

.professor-course .clase {
    font-weight: 700;
} 

.professor-course .name {
    font-size: 18px;
}

.professor-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Lineas a mostrar */
    overflow: hidden;
    position: relative;


}

.professor-description a {
    position: absolute;
    margin-left: 10px;  
    right: 0;
    bottom: 0;
    background-color: white; /* Fondo blanco para cubrir las elipsis */
}

 /* STATS */

.professor-stats .card-title {
    font-weight: 600;
}

.hours {
    font-size: 15px;
}

.professor-stats i {
    font-size: 16px;
    color: #0dcaf0;
}

.professor-stats a {
    width: 100%;
}

.line {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos dentro del div .line */
  }
  
  .line::before {
    content: ""; /* Agrega un elemento pseudo ::before para crear la línea vertical */
    flex: 1; /* Hace que la línea ocupe todo el espacio restante verticalmente */
    border-left: 1px solid #ccc; /* Establece el estilo, el ancho y el color de la línea */
    height: 100%; /* Ajusta la altura de la línea según tus necesidades */
    margin: 0 15px; /* Espaciado horizontal para separar la línea del contenido */
  }

 /* Reviews */



.comment {
    background-color:#eaeaeb;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Lineas a mostrar */
    overflow: hidden;
    border-radius: 10px;
    padding: 6px;
}

.comment i {
    font-size: 18px;
    color: #0dcaf0;
}

.reviews {
    margin: auto auto;
    align-items: center;
    justify-content: center;
}


@media (max-width: 996px) {
    .text-stats {
        font-size: 15px;
    }

}

@media (max-width: 776px) {
    
    .card {
        margin: 0;
        width: 100%;
        border: none;
        padding: 0;
        max-width: 100%;
        max-height: 400px;
    }

    .professor-reviews {
        display: none;
    }

}